<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body style="background-color: aqua;">
        <div style ="align-items: center;margin-top: 1cm;margin-left: 32cm;border: 10mm;">
            <a href="/idioma">
                <button style="color: black; font-weight: bolder; background: none;text-align: center;font-size: x-large;border-radius: 7%;"type='submit'> Idioma  </button> 
                </a>
    
        </div>
       
        <div style ="align-items: center;margin-top: 10cm;margin-left: 15cm;margin-right: 12cm;border: 10mm;">
            <a href="/nuevo_usuario">
                <button style="color: black; font-weight: bolder; background: none;text-align: center;font-size: x-large;border-radius: 7%;"type='submit'> Crear usuario </button> 
                </a>
    
        </div>
        <div style ="align-items: center;margin-top: 1cm;margin-left: 15cm;margin-right: 12cm;border: 10mm;">
            <a href="/login">
                <button style="color: black; font-weight: bolder; background: none;text-align: center;font-size: x-large;border-radius: 7%;"type='submit'> Iniciar  sesión  </button> 
                </a>
    
        </div>
</body>
</html>